
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="height: 20px;" >
           
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 fdiv" >
            <p class="fp">WELCOME TO THE <br>&nbsp; HEALTHY FOOD<br> RECOMMENDATION<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SYSTEM</p>
            <div class="sdiv"><app-login></app-login></div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="height: 10px;" >
            
        </div>
    </div>
</div>
