.fdiv{
    background-image: url('../../assets/taska_ae_1.gif');
    width: 500px;
    height: 650px;
}
.fp{
    margin-top: 50px;
    margin-left: 540px;
    color: white;
    font-size: 50px;
    font-weight: bold;
}
.sdiv{
    width: 130px;
    margin-left: 650px;
    font-size: 40px;
    color: #c8ff00;
    height: 30px; 

}
// .sdiv:hover{
//     background-color: rgba(151, 255, 32, 0.267);
// }