 
<div class="container mdiv">
    <div class="row"> 
        <div class="col-md-4" >
            <a [routerLink]="['../home',1]"> 
            <div   class=" pt-3 d-flex btn  info-color ml-0   mb-4 mr-5   example hoverable mmdiv"  >
                <p style="font-size: 40px;">Breakfast</p><img src="https://img.icons8.com/clouds/100/000000/sun.png">
            </div >
            </a>
        </div>
        <div class="col-md-4  " >
            <a [routerLink]="['../home',2]"> 
            <div   class="d-flex justify-content-between success-color ml-0  mb-4 mr-5   example hoverable btn mmdiv"    >
                <p style="font-size: 40px;">Lunch</p><img class="" src="https://img.icons8.com/cute-clipart/64/000000/sun.png">
            </div  >
        </a>
        </div>
        <div class="col-md-4  " >
            <a [routerLink]="['../home',3]"> 
            <div  class="d-flex justify-content-between stylish-color mb-4 ml-0 mr-5   example hoverable btn mmdiv"    >
                <p style="font-size: 40px;">Dinner </p> <img src="https://img.icons8.com/clouds/100/000000/bright-moon.png">

            </div >
        </a>
        </div>
    </div>
</div>
 
