<div class="container">
    <div class="row"> 
        <div class="col-md-4 col-12 fdiv  " >
            <div (click)="choosemeal('Breakfast')"  class="pt-3 d-flex btn  info-color ml-0 mt-5 mr-5 mb-5 example hoverable" style="height: 100px;width: 100%;">
                <p style="font-size: 40px;">Breakfast</p><img src="https://img.icons8.com/clouds/100/000000/sun.png">
               
            </div >
        </div>
        <div class="col-md-4" >
            <div   class="d-flex justify-content-between success-color ml-0 mt-5 mr-5 mb-5 example hoverable btn" (click)="choosemeal('Lunch')"  style="height: 100px;width: 100%;">
                <p style="font-size: 40px;">Lunch</p><img class="" src="https://img.icons8.com/cute-clipart/64/000000/sun.png">
            </div  >
        </div>
        <div class="col-md-4" >
            <div  class="d-flex justify-content-between stylish-color ml-0 mt-5 mr-5 mb-5 example hoverable btn" (click)="choosemeal('Dinner')"  style="height: 100px;width: 100%;">
                <p style="font-size: 40px;">Dinner </p> <img src="https://img.icons8.com/clouds/100/000000/bright-moon.png">

            </div >
        </div>
    </div>
</div>
 


 
  <div class="container"  >
    <div class="row"> 
        <div class="col-md-6">

            <mdb-card>
                
                <mdb-card-body>
              
                  
                  <div class="d-flex">
                      <div ><h1>FOODS </h1></div>
                      <div class="ml-auto">
                            <button (click)="addfood(fdin)" type="button" mdbBtn color="primary" mdbWavesEffect>+</button >

                      </div>
                  </div>
                  
                    <div class="d-flex">
                         <div class="fdiv ">
                        <form  [formGroup]="foodForm">
                             
                               
                              <div class="col-sm-10 m-0 p-0 mt-2">
                                <input autocomplete="off" #fdin (keyup)="onkeyup($event,fdin)"  formControlName="food" mdbInput type="email" class="form-control" id="inputEmail3" placeholder="rice">
                                <ul id=overlay class="list-group" *ngIf="listview"> 
                                        <li *ngFor="let f of refoodlist" class="list-group-item" (click)="listClick(f,fdin) "><img style="width: 20px; height: 20px;" [src]="f.photo.thumb" alt=""> {{f.food_name}}</li>
                                        
                                </ul >
                            </div>
                            
                        </form>
                    </div>
                    <div class="sdiv mt-3">{{lastfoodcalorie}}</div>
                    <div class="sdiv">
                            <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="cleardata(fdin)">clear</button>

                    </div>
                    </div>
                    

                  
                   
              
                 
                </mdb-card-body>
              </mdb-card>
              <div style="height: 15px;"></div>
              <div>
                    <ul class="list-group blue">
                            <li class="list-group-item" *ngFor="let f of choosenfoodlist">{{f.fname}}  (<span>{{f.fcalori}}</span>)</li>
                             
                     </ul>
              </div>
              <div class="ml-4 mt-3">amount of calory={{amount}}</div>
              <button class="schanges" mdbBtn type="button" color="amber" mdbWavesEffect (click)="savechanges()">Save Changes</button>


        </div>
        <div class="col-md-6 ">

                <app-piechart></app-piechart>

        </div>
         
    </div>
</div>

 