.fdiv{
    width: 50%;
}
.sdiv{
    width: 25%;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 300px; /* Full width (cover the whole page) */
    height: 100px; /* Full height (cover the whole page) */
    top: 10;
    left: 10;
     
    
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
  .schanges{
      margin-left:68%;
  }
  