<button type="button" mdbBtn color="default" rounded="true" data-toggle="modal" data-target="#basicExample"
(click)="frame.show()" mdbWavesEffect><p class="fp">ENTRY</p> </button>

<div mdbModal #frame="mdbModal" class="modal fade left" id="frameModalTop" tabindex="-1" role="dialog"
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="mdiv"><app-register></app-register></div>
   

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center teal darken-2">
      <!-- <h4 class="modal-title w-100 font-weight-bold"><p class="plogin">Login</p></h4> -->

      <div class=" ml-3 mr-1" #divstudent style="width: 50%;background-color:#004d40;" (click)="studentClick(divshop,divstudent)">
          <mdb-icon fas icon="user-graduate"   class="prefix grey-text"></mdb-icon>
            
          <!-- <label for="defaultForm-email">student</label> -->
        </div>


        <div class="mr-3" #divshop  style="width: 50%;background-color: rgb(2, 131, 136);" (click)="shopClick(divshop,divstudent)"> 
            <mdb-icon fas icon="store"  class="prefix grey-text"></mdb-icon>
              
            <!-- <label for="defaultForm-email">student</label> -->
          </div>

      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <!-- <div>
          <mdb-icon fas icon="user-graduate" style="width: 50px;" class="prefix grey-text"></mdb-icon>
            
          <label for="defaultForm-email">student</label>
        </div> -->

         


             
      </div>
      <div class="md-form mb-5">
        <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
        <input type="email" id="defaultForm-email" [formControl]="loginFormModalEmail" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-email">Your email</label>
        <mdb-error
          *ngIf="loginFormModalEmail.invalid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="loginFormModalEmail.valid && (loginFormModalEmail.dirty || loginFormModalEmail.touched)">Input
          valid
        </mdb-success>
      </div>

      <div class="md-form mb-4">
        <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
        <input type="password" id="defaultForm-pass" [formControl]="loginFormModalPassword" class="form-control"
               mdbInput mdbValidate>
        <label for="defaultForm-pass">Your password</label>
        <mdb-error
          *ngIf="loginFormModalPassword.invalid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
          Input invalid
        </mdb-error>
        <mdb-success
          *ngIf="loginFormModalPassword.valid && (loginFormModalPassword.dirty || loginFormModalPassword.touched)">
          Input valid
        </mdb-success>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button mdbBtn color="default" class="waves-light" mdbWavesEffect (click)="getlogin()">Login</button>
    </div>
    

  </div>
</div>
</div>