.manversion{
    margin-top: 30px;
}
.ibm{
    height: 60px;
}
.pibm{
    padding-left:25px ;
     font-size: 20px;
}
.imgout{
    height: 300px;
}
.cal1{
    padding-top: 15px;
    padding-left: 25px;
    height: 60px;
    margin-top: 80px;
    font-size: 20px;
    // height: 130px;
}
.cal2{
    padding-top: 15px;
    padding-left: 25px;
    height: 60px;
    margin-top: 60px;
    font-size: 17px;
    // height: 130px;
}
.mealdiv{
     
    margin-left: 30px;
}
.lundiv{
    width: 40%;

    
}
// #overlay {
//     position: fixed; /* Sit on top of the page content */
//     display: block; /* Hidden by default */
//     width: 300px; /* Full width (cover the whole page) */
//     height: 100px; /* Full height (cover the whole page) */
//     top: 10;
//     left: 10;
     
    
//     background-color: rgba(0,0,0,0.5); /* Black background with opacity */
//     z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
//     cursor: pointer; /* Add a pointer on hover */
//   } 
@media only screen and (max-width: 570px) {
    .ibm{
       height: 60px;
       width: 145px;
    }
    .pibm{
        padding-left: 40px;
    }
    //  #overlay{
    //      top:50px
    //  }
     
}