<div class="container">
    <div class="row">
        <div class="col-md-4 ">
           <div class="container mt-1 z-depth-1">
                <div class="row">
                    <div class="imgout col-md-6 col-6 ">
                        
                         <div class="">
                                <img class="manversion"  *ngIf="manversion" src="https://img.icons8.com/color/144/000000/user-male.png">
                                <img class="manversion" *ngIf="!manversion"  manversion  src="https://img.icons8.com/color/144/000000/user-female.png">
                        </div>
                        <div class="ibm yellow mt-4 z-depth-1 warning"  >
                                <p class="pt-3 pibm">{{bmi}}(BMI)</p>
                        </div>
                      
                        
                    </div>
                    <div class="col-md-6 col-6" style="height: 300px;">

                        <div class="cal1 orange z-depth-1">{{calori}}(cal)</div>
                        <div class="cal2 red z-depth-1">{{bmiType }}</div>
                    </div>
                    <!-- <div>
                        <h2>c</h2>
                    </div> -->
                </div>
           </div>
           <div class="container mt-1">
            <div class="row">
                <div class="col-md-12 pt-4 z-depth-1" style="height: 300px;">
                    
                    <div class="mealdiv  d-flex mb-2">
                        <div class="lundiv info-color-dark pt-1 z-depth-1"><p class="mt-2 ml-2" style="font-size: 20px;">Break Fast</p> </div>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">600</p>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">450</p>
                        <!-- <h2>499</h2> -->
                    </div>
                    <div class="mealdiv  d-flex mb-2">
                        <div class="lundiv info-color-dark pt-1 z-depth-1"><p class="mt-2 ml-3" style="font-size: 20px;">Lunch</p> </div>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">600</p>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">450</p>
                        <!-- <h2>499</h2> -->
                    </div>
                    <div class="mealdiv  d-flex mb-2">
                        <div class="lundiv info-color-dark pt-1 z-depth-1"><p class="mt-2 ml-3" style="font-size: 20px;">Dinner </p> </div>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">600</p>
                       <p class=" mt-3 ml-3" style="font-size: 20px;">450</p>
                        <!-- <h2>499</h2> -->
                    </div>
                </div>
            </div>
       </div>
        </div>
        <div class="col-md-4 mt-1"  >
            
            <mdb-card>
             
                <mdb-card-body>
              
                  
                  <div class="d-flex">
                      <div ><h1>FOODS </h1></div>
                      <div class="ml-auto">
                            <button (click)="addfood(fdin)" type="button" mdbBtn color="primary" mdbWavesEffect>+</button >

                      </div>
                  </div>
                  
                    <div class="d-flex">
                         <div class="fdiv ">
                        <form  [formGroup]="foodForm">
                             
                               
                              <div class="col-sm-10 m-0 p-0 mt-2">
                                <input #fdin    autocomplete="off" (keyup)="onkeyup($event,fdin)"  formControlName="food" mdbInput type="email" class="form-control" id="inputEmail3" placeholder="rice">
                                <ul id="overlay" class="list-group" *ngIf="listview"    > 
                                        <li *ngFor="let f of refoodlist" class="list-group-item" (click)="listClick(f,fdin) "><img style="width: 20px; height: 20px;" [src]="f.photo.thumb" alt=""> {{f.food_name}}</li>
                                        
                                </ul >
                            </div>
                            
                        </form>
                    </div>
                    <div class="sdiv mt-3">{{lastfoodcalorie}}</div>
                    <div class="sdiv">
                            <button type="button" mdbBtn color="danger" mdbWavesEffect (click)="cleardata(fdin)">clear</button>

                    </div>
                    </div>
                    

                  
                   
              
                 
                </mdb-card-body>
              
              </mdb-card>

              <div>
                <ul class="list-group blue">
                        <li class="list-group-item" *ngFor="let f of choosenfoodlist">{{f.fname}}  (<span>{{f.fcalori}}</span>)</li>
                         
                 </ul>
            </div>
          <div class="ml-4 mt-3">amount of calory={{amount}}</div>
          <button class="schanges" mdbBtn type="button" color="amber" mdbWavesEffect (click)="savechanges()">Save Changes</button>


        </div>
        <div class="col-md-4 green">
            <h1>qwqwqwqw</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>qw</h1>
        </div>
    </div>
</div>