<div class="container">
    <div class="row">
        <div class="col-md-4 ">
           <div class="container mt-3 z-depth-1">
                <div class="row">
                    <div class="imgout col-md-6 col-6 ">
                        
                         <div class="">
                                <img class="manversion"  *ngIf="manversion" src="https://img.icons8.com/color/144/000000/user-male.png">
                                <img class="manversion" *ngIf="!manversion"  manversion  src="https://img.icons8.com/color/144/000000/user-female.png">
                        </div>
                        <div class="ibm yellow mt-4 z-depth-1 warning"  >
                                <p class="pt-3 pibm">{{bmi}}(BMI)</p>
                        </div>
                      
                        
                    </div>
                    <div class="col-md-6 col-6" style="height: 300px;">

                        <div class="cal1 orange z-depth-1">{{calori}}(cal)</div>
                        <div class="cal2 red z-depth-1">{{bmiType }}</div>
                    </div>
                    <!-- <div>
                        <h2>c</h2>
                    </div> -->
                </div>
           </div>
           <div class="container">
            <div class="row">
                <div class="col-md-12 green" style="height: 300px;">
                    <h1>2</h1>
                </div>
            </div>
       </div>
        </div>
        <div class="col-md-4 blue"  >
            <h1>qwqw</h1>
        </div>
        <div class="col-md-4 green">
            <h1>qwqwqwqw</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>qw</h1>
        </div>
    </div>
</div>